<div class="toolbar">
{{#link-to 'wiki.new' class="btn btn-primary"}}New Page{{/link-to}}
</div>

<div class="list-group margin-top">
  {{#each}}
  {{#link-to 'wiki.page' this class="list-group-item"}}{{title}}{{/link-to}}
  {{/each}}
</div>