<div class="toolbar clearfix">
  {{#link-to 'wiki.index' class="btn btn-primary"}}&larr; All pages{{/link-to}}
  {{#link-to 'wiki.edit' model class="btn btn-default pull-right"}}Edit{{/link-to}}
</div>
{{#if isLoading}}
{{x-spinner}}
{{else}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{model.title}}</h3>
  </div>
  <div class="panel-body">
    {{format-markdown model.text}}
  </div>
</div>
{{/if}}