<h2>Resume</h2>
<div class="row">
  <div class="col-md-6">
    <img src="/images/me.png" class="img-thumbnail">
  </div>
  <div class="col-md-6">
    <strong>Presentation Occupation</strong>
    <p>
      .NET Developer of <a href="http://www.infotrack.com.au">InfoTrack</a>
    </p>
    <strong>Education</strong>
    <p>
      <em class="has-tooltip" data-toggle="tooltip" 
      data-placement="bottom" title="Mater of Information Technology">MIT</em>
      of <a href="http://www.unsw.edu.au">University of New South Wales</a>
    </p>
    <strong>Professional Years</strong>
    <p>
      Since 2010 to Present
    </p>
  </div>
</div>