<ul class="pager margin-top-less">
  <li class="previous">{{#link-to 'wiki'}}&larr; All pages{{/link-to}}</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    {{format-markdown text}}
  </div>
</div>