<h2>Wiki</h2>
{{#link-to 'wikiNew' class="btn btn-primary"}}New Page{{/link-to}}
<br>
{{outlet}}
<br>
<div class="list-group">
  {{#each}}
  {{#link-to 'wikiPage' this class="list-group-item"}}{{title}}{{/link-to}}
  {{/each}}
</div>